@import "src/styles/variables";

.portfolioCard {
  flex-direction: column;
  padding: 0;
  padding-bottom: 3%;

  &Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10.5% 13% 3% 10%;

    .info {
      width: 45.4%;
      padding-left: 0;

      &Title {
        margin-right: -10px;
      }
    }
  }

  &Body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .swiper {
      &-wrapper {
        will-change: transform;
      }
    }

    .swiperBtn {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 30%;
      right: 6%;
      cursor: pointer;
      mix-blend-mode: difference;
      z-index: 1;

      &.prev {
        right: unset;
        left: 6%;
        transform: scaleX(-1);
      }

      svg {
        width: 100%;
        height: 100%;

        path {
          transition: fill .4s ease;
        }
      }

      &:hover {
        svg {
          path {
            fill: $cyan;
          }
        }
      }
    }

    .workItem {
      text-align: center;

      &Image {
        border-radius: 5px;
        margin: 0 auto 1.8rem;
        box-shadow: 0 20px 30px -15px black;
        filter: saturate(0.4);
        padding-top: 80%;
        position: relative;

        &Item {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: center no-repeat;
          background-size: contain;
          width: 70%;
          padding-top: 50%;
        }
      }

      &Subtitle {
        letter-spacing: 3px;
        font-size: 0.7vw;
        margin-bottom: 0.5rem;
        will-change: color;
      }

      &Title {
        letter-spacing: 4.5px;
        font-weight: 600;
        font-size: 1.1vw;
        transition: color .5s ease;
      }

      &:hover {
        .workItemTitle {
          color: rgba($cyan, 0.8);
        }
      }
    }
  }
}
