@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Bold.eot');
    src: url('Cinzel-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cinzel-Bold.woff2') format('woff2'),
        url('Cinzel-Bold.woff') format('woff'),
        url('Cinzel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-ExtraBold.eot');
    src: url('Cinzel-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Cinzel-ExtraBold.woff2') format('woff2'),
        url('Cinzel-ExtraBold.woff') format('woff'),
        url('Cinzel-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.eot');
    src: url('Cinzel-Regular.eot?#iefix') format('embedded-opentype'),
        url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff'),
        url('Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-SemiBold.eot');
    src: url('Cinzel-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Cinzel-SemiBold.woff2') format('woff2'),
        url('Cinzel-SemiBold.woff') format('woff'),
        url('Cinzel-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Black.eot');
    src: url('Cinzel-Black.eot?#iefix') format('embedded-opentype'),
        url('Cinzel-Black.woff2') format('woff2'),
        url('Cinzel-Black.woff') format('woff'),
        url('Cinzel-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Medium.eot');
    src: url('Cinzel-Medium.eot?#iefix') format('embedded-opentype'),
        url('Cinzel-Medium.woff2') format('woff2'),
        url('Cinzel-Medium.woff') format('woff'),
        url('Cinzel-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

