@import "variables";

.textCyan {
  color: $cyan;
}

.textLime {
  color: $lime;
}

.textUppercase {
  text-transform: uppercase;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.smallText {
  font-size: 0.9vw;
  letter-spacing: 1px;
  line-height: 1;
}

.fontPlayfair {
  font-family: $fontPlayfair;
}

.horizontalLine {
  height: 1px;
  background-color: $borderColor;
  margin: 1.3rem 0 2.2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 4px;
    background-color: $cyan;
    width: 3.7vw;
  }

  &.right {
    &::before {
      left: unset;
      right: 0;
    }
  }

  &.center {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.cta {
  display: inline-flex;
  align-items: center;
  color: white;
  background: none;
  padding: 12px 18px;
  position: relative;
  outline: none;

  .arrowIcon {
    width: 1.1vw;
    height: 1.1vw;
    background: center no-repeat url("../media/icons/rightArrow.svg");
    background-size: contain;
    margin-left: 7px;
    transition: transform 0.25s 0.2s cubic-bezier(0, 0, 0.5, 2);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-150%, -50%);
    width: 3vw;
    height: 3vw;
    background: rgba($cyan, 0.9);
    border-radius: 50px;
    transition:
      transform 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2),
      width 0.25s cubic-bezier(0, 0, 0.5, 2);
    z-index: -1;
    will-change: transform, width;
  }

  &:hover {
    &::before {
      width: 100%;
      transform: translate(-100%, -50%);
      transition:
        transform 0.25s cubic-bezier(0, 0, 0.5, 2),
        width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
    }

    .arrowIcon {
      transform: translateX(3px);
      transition: transform 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
    }
  }
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .horizontalLine {
    &::before {
      left: 0 !important;
      width: 15vw;
      height: 3px;
    }
  }

  .cta {
    .arrowIcon {
      width: 0.8rem;
      height: 0.8rem;
    }

    &::before {
      width: 3rem;
      height: 3rem;
    }
  }
}
