@import "variables";
@import "globalClasses";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColour;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontLato;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
