@import "fonts/index";

//Fonts
$fontPlayfair: 'Playfair Display', sans-serif;
$fontLato: 'Lato', sans-serif;
$fontCinzel: 'Cinzel', sans-serif;
//Fonts

//Colors
$backgroundColour: #212121;
$backgroundColourLight: #dde4e7;
$cyan: #67e0e1;
$lime: #e1ff02;
$cyanLight: #37474f;
$textColorLight: #222222;
//Colors
