@import "fonts/index";

//Fonts
$fontPlayfair: 'Playfair Display', sans-serif;
$fontLato: 'Lato', sans-serif;
$fontCinzel: 'Cinzel', sans-serif;
//Fonts

//Colors
$backgroundColour: #212121;
$cyan: #67e0e1;
//Colors
