@import "src/styles/variables";

.card {
  &.bioCard {
    pointer-events: none;
  }
  .number {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    font-size: 16.9vw;
    line-height: 1em;
    font-family: $fontCinzel;
    font-weight: 900;
    background-position: 50% 50%;
  }

  .info {
    padding-left: 12.5%;

    &Text {
      font-size: 1vw;
    }
  }
}
