@import "src/styles/variables";

.skillsCard {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10.5% 10% 3% 13%;

  .info {
    padding-left: 0;
  }

  .skillsList {
    padding-left: .7rem;

    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      li {
        margin-bottom: 0.5rem;
        font-size: 1vw;

        &::marker {
          color: rgba($cyan, 0.8);
        }
      }
    }
  }
}
